<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<div class="navbar-wrapper">
	<div class="container">

		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Institutionsregister un-official API</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Documentation</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>

<div id="carousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carousel" data-slide-to="0" class="active"></li>
		<li data-target="#carousel" data-slide-to="1"></li>
		<li data-target="#carousel" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Retrieve">
			<div class="container">
				<div class="carousel-caption">
					<h1>Retrieve a <b>document</b> in many ways!</h1>
					<p>
						Request documents using <code>&lt;document_id&gt;</code>, <code>&lt;object_id&gt;</code> or <code>&lt;institute_id&gt;</code>,
						and recieve the ouput in <i>JSON</i>.
					</p>
					<p><a class="btn btn-lg btn-primary" href="#retrieve" role="button">Learn more!</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Search">
			<div class="container">
				<div class="carousel-caption">
					<h1>Search in all or specified fields!</h1>
					<p>
						The documents can be searched in one or more fields, using a simple field selector or using MongoDB queries.
					</p>
					<p><a class="btn btn-lg btn-primary" href="#search" role="button">Learn more!</a></p>
				</div>
			</div>
		</div>
			<div class="item">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
				<div class="container">
					<div class="carousel-caption">
						<h1>Institution types</h1>
						<p>Retrieve a list of institution types, to use to organize the data in categories.</p>
						<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more!</a></p>
					</div>
				</div>
			</div>
	</div>
	<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

 <div class="container marketing">

	<div class="row">
		<div class="col-lg-4">
			<img class="img-circle" src="/images/_DSC0428_small.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2>Crafted by Bo Thomsen</h2>
			<p>This service is handcrafted by danish developer Bo Thomsen from Copenhagen. Written in NodeJS+Sails with MongoDB as the backend.</p>
			<p><a class="btn btn-default" href="http://bothomsen.me" role="button">View details &raquo;</a></p>
		</div>

		<div class="col-lg-4">
			<img class="img-circle" src="/images/Object1.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2>Structured JSON</h2>
			<p>The documents are served in JSON, formated - with the result or results in either <code>result</code> or <code>results</code>.
			Besides that is a error code in <code>code</code>, an error message in <code>error</code> and the max result count in <code>result_count</code>.</p>
			<p><a class="btn btn-default" href="#example" role="button">View details &raquo;</a></p>
		</div>

		<div class="col-lg-4">
			<img class="img-circle" src="/images/GitHub-Mark-120px-plus.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2>Code on github</h2>
			<p>The code both for this website and for the API+Scraper is avaiable open source under the MIT license. Please submit a pull request if you have changes.</p>
			<p><a class="btn btn-default" href="https://github.com/boh1996/Institutionsregisteret-Data" role="button">View code &raquo;</a></p>
		</div>
	</div>

	<div class="row" id="instituion_fields">
		<div class="col-lg-10 col-lg-offset-1">
			<h1>The API</h1>
			<p>The API is accessible from our URL <a href="http://data.illution.dk/inst/">http://data.illution.dk/inst/</a> and all other urls are relational to that. The data is updated from the source multiple times a week, but be patient it can take time for updates to be fetched. The dataset contains more than 4300 instituions as of 08 / 02 - 2015 and updating every single of them takes time.</p>
			<p>The different fields for the instituion endpoint can be found <a href="#instituion_fields">here</a> and <a href="#instituion_type_fields">here</a> for the instituion types endpoint.</p>

			<h2>Retrieve a single document</h2>
			<p>We have three different endpoints for recieving a single document for the API, the URLs are as follows</p>
			<code>/get/&lt;object_id&gt;</code> - Retrieve a document by its ObjectId<br>
			<code>/get/&lt;document_id&gt;></code> - Retrieve a document by its unique Register document id<br>
			<code>/get/&lt;institute_id&gt;</code> - Retrieve a document by its short instituion id, this is the most common.<br>

			<h2>Search</h2>
			<p>The API has two different endpoints, <code>/search?q=&lt;query&gt;&fields=&lt;fields&gt;</code>, the fields is a comma seperated list of fields - see the list below for more information.</p>
			<p>The other endpoint is <code>/find</code>, this endpoint can be used with <code>&start=&lt;start_letter(s)&gt;</code> to find names starting with or with <code>&q=&lt;query&gt;</code> to search using MongoDB syntax, note _id is called id here.</p>


			<p>Use <code>&limit</code> and <code>&offset</code> to paginate the results.</p>
		</div>
	</div>

	<div class="row" id="example">
		<div class="col-lg-10 col-lg-offset-1">
			<h1>Example document!</h1>
			<div>
				<pre class="prettyprint lang-js" style="border:0px;">
{
    result: {
        document_id: "31341D29D346B3DBC12579220001868D",
        institute_id: "280276",
        name: "10. kl. Erhverv - UddannelsesCenter Odsherred",
        leader: {
            name: "Frank Tonsberg"
        },
        address: "Absalonsvej 20",
        location: {
            zip: "4300",
            city: "Holbæk",
            zip_city_text: "4300 Holbæk"
        },
        telephone: "59455100",
        email: "eucnvs@eucnvs.dk",
        website: "www.eucnvs.dk",
        parent: {
            institute_id: "315412",
            name: "EUC Nordvestsjælland"
        },
        institute_type: "Grundskoler m.v. / Folkeskoler",
        createdAt: "2015-01-23T18:22:30.306Z",
        updateAt: "2015-01-23T18:22:30.306Z",
        id: "54c29166aa5cc41e0859bb07"
    },
    code: 200,
    error: null,
    result_count: 1
}
				</pre>
			</div>
		</div>
	</div>
	
	<div class="row" id="instituion_fields">
		<div class="col-lg-10 col-lg-offset-1">
			<h1>Possible data fields for institutions</h1>
			<table class="table table-bordered table-hover">
				<tr>
					<th>Property</th>
					<th>Data type</th>
					<th>Description</th>
				</tr>
				<tr>
					<td>_id</td>
					<td>ObjectId</td>
					<td>The MongoDB unique document id</td>
				</tr>
				<tr>
					<td>document_id</td>
					<td>String</td>
					<td>The Institution Register document id, retrieved from their URL</td>
				</tr>
				<tr>
					<td>institute_id</td>
					<td>Integer</td>
					<td>The short instituion id, used to identify institutions</td>
				</tr>
				<tr>
					<td>name</td>
					<td>String</td>
					<td>The name of the institution</td>
				</tr>
				<tr>
					<td>leader.name</td>
					<td>String</td>
					<td>The name of the leader.</td>
				</tr>
				<tr class="warning">
					<td>leader.position</td>
					<td>String <i>(Optional)</i></td>
					<td>A possible position string for the leader, if any.</td>
				</tr>
				<tr>
					<td>location.address</td>
					<td>String</td>
					<td>A RegEx matched address string.</td>
				</tr>
				<tr>
					<td>location.zip</td>
					<td>Integer</td>
					<td>A RegEx matched zip code</td>
				</tr>
				<tr>
					<td>location.city</td>
					<td>String</td>
					<td>A RegEx matched city string.</td>
				</tr>
				<tr>
					<td>location.zip_city_text</td>
					<td>String</td>
					<td>The address string listed in the Register.</td>
				</tr>
				<tr>
					<td>telephone</td>
					<td>String</td>
					<td>The listed phonenumber for this institution.</td>
				</tr>
				<tr>
					<td>email</td>
					<td>String</td>
					<td>The contact email for the institution.</td>
				</tr>
				<tr>
					<td>website</td>
					<td>URL</td>
					<td>The institutions website</td>
				</tr>
				<tr class="warning">
					<td>parent.institute_id</td>
					<td>Integer <i>(Optional)</i></td>
					<td>The <code>institution_id</code> of the parent school.</td>
				</tr>
				<tr class="warning">
					<td>parent.name</td>
					<td>String <i>(Optional)</i></td>
					<td>The <code>name</code> of the parent school, if any.</td>
				</tr>
				<tr>
					<td>institute_type</td>
					<td>String</td>
					<td>The type of institution, retrieve institution types for another endpoint.</td>
				</tr>
				<tr>
					<td>law_status</td>
					<td>String</td>
					<td>If the school is the primary school for an organistion, this will be <code>Hovedskole</code>.</td>
				</tr>
				<tr>
					<td>createdAt</td>
					<td>ISODate</td>
					<td>An <i>ISODate</i> indicating when the document was created in our database.</td>
				</tr>
				<tr>
					<td>updatedAt</td>
					<td>ISODate</td>
					<td>An <i>ISODate</i> indicating when the document last time was changed in our database.</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row" id="instituion_type_fields">
		<div class="col-lg-10 col-lg-offset-1">
			<h1>Possible data fields for institution_types</h1>
			<table class="table table-bordered table-hover">
				<tr>
					<th>Property</th>
					<th>Data type</th>
					<th>Description</th>
				</tr>
				<tr>
					<td>_id</td>
					<td>ObjectId</td>
					<td>The MongoDB unique document id</td>
				</tr>
				<tr>
					<td>type</td>
					<td>String</td>
					<td>The instituion type</td>
				</tr>
				<tr>
					<td>createdAt</td>
					<td>ISODate</td>
					<td>An <i>ISODate</i> indicating when the document was created in our database.</td>
				</tr>
				<tr>
					<td>updatedAt</td>
					<td>ISODate</td>
					<td>An <i>ISODate</i> indicating when the document last time was changed in our database.</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row" id="about">
		<div class="col-lg-10 col-lg-offset-1">
			<h1>About this site</h1>
			<p>This site is created to make the data public accessble using an API. Because the orignal site doesn't feature it and has a lot of downtime. We believe the data can be usefull for developers creating application students and teachers.</p>
		</div>
	</div>

	<div class="row" id="contact">
		<div class="col-lg-10 col-lg-offset-1">
			<h1>Contact us</h1>
			
			<div itemscope itemtype="http://schema.org/Person">
				<p>To contact the owner of this site, please email <span itemprop="name">Bo Thomsen</span> at <a href="mailto:bo@bothomsen.me" itemprop="email">bo@bothomsen.me</a>.</p>
				<p>The content accessbile using this API is not owned by us, the service is only offered by us, with no promise of update or correctness of the data.</p>
				<p>The data is owned by <a href="http://uvm.dk">UVM</a> and Illution is not affiliated with them.</p>
			</div>
		</div>
	</div>

	<footer>
		<p class="pull-right">
			<a href="#">Back to top</a>
		</p>
		<p>&copy; 2015 Illution &middot; <a href="#contact">Contact</a></p>
	</footer>
</div>